<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js"> </script>

</head>
<body>



<div class="containe">
	<div id="app">

		<form action="">
			<h1>Crear Categoria</h1>
			<div class="form-group">	
				<label for="nombre">Nombre</label>
				<input v-model="nombre"
					
					@blur="getCategory"  
					@focus="div_aparecer= false"



				class="form-control" type="text" class="nombre" id="nombre">
				<label for="slug">Slug</label>
				<input readonly v-model="generarSlug" class="form-control" type="text" class="slug" id="slug">

				<!--<div v-bind:class="badge badge-success">-->
				<div v-if="div_aparecer" v-bind:class="div_clase_slug">
					{{ div_mensajeslug }}
				</div>
				<br>
				<label for="descripcion">Descripcion</label>
				<textarea class="form-control" name="descripcion" id="descripcion" cols="30" rows="5" class="name"></textarea>

			</div>
			<input 
			 :disabled = "deshabilitar_boton==1"
			type="submit" value="Guardar" class="btn btn-primary float-right">

		</form>
		<br><br>
		{{ nombre }}
		<br><br>
		{{ generarSlug }}
		<br><br>
		{{ slug }}

	</div>



</div>

<script>
	
var app = new Vue({
	el: '#app',
	data: {
		nombre: 'Claudio LLorena',
		slug: '',
		div_mensajeslug: 'Slug Existente',
		div_clase_slug: 'badge badge-danger',
		div_aparecer: false,
		deshabilitar_boton:0
	},
	computed: {

		generarSlug : function(){
			var char= {
				"á":"a","é":"e","í":"i","ó":"o","ú":"u",
				"Á":"A","É":"E","Í":"I","Ó":"O","Ú":"U",
				"ñ":"n","Ñ":"N"," ":"-","_":"-"
			}
			var expr = /[áéíóúÁÉÍÓÚÑñ_ ]/g 
			this.slug = this.nombre.trim().replace(expr, function(e){
				return char[e]
			}).toLowerCase()

			return this.slug;
		//return this.nombre.trim().replace(/ /g,'-').toLowerCase()
		}
	},
	methods: {

		getCategory() {
			let url = 'api/category/'+this.slug;
			axios.get(url).then(response => {
				this.div_mensajeslug = response.data;
					if (this.div_mensajeslug==="Slug disponible") {
						this.div_clase_slug = 'badge badge-success';
						this.deshabilitar_boton=0;

					}else{

						this.div_clase_slug = 'badge badge-danger';
						this.deshabilitar_boton=1;
					}

					this.div_aparecer = true;
				//console.log(this.div_mensajeslug);  <- malo
				// devuelve a la pantalla los datos y al parecer se detiene al ejegutar "console.log(response.data);""
				//console.log(response.data);
				
			})

		}
	}
	

});


</script>


</body>
</html>
